@tailwind base;
@tailwind components;
@tailwind utilities;

/* Elimina restricciones globales de altura y scroll */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto; /* Permite scroll normalmente */
}

body {
  @apply font-sans bg-gray-50 text-gray-800;
  font-family: 'Inter', sans-serif;
}